# LaTeX auxiliary and build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz

# Ignore old/deprecated folders replaced by figures/
comparison/
average problem plots/
extracted_images/
